ABOUT-NLS
configure
config.status
config.log
config.h
config.h.in
config.rpath
config.sub
config.guess
Makefile
Makefile.in
Makefile.in.in
stamp-*
autom4te.cache
depcomp
missing
install-sh
mkinstalldirs
libtool
ltmain.sh
aclocal.m4
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
.*.swp
.deps
core
intl
/src/centerim
/src/git-version.h
